nav {
    background: black;
    width: 100%;
}

.menubar-item {
    float: left;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}